/* 全局样式 */
body {
    background-color: #2e2e3e;
    color: #d3bfd3;
}

/* 页首 */
.page-head {
    background-color: #fff5e0;
    background-image: url(../../../assets/images/page-head/wallhaven-gpy5rq.png);
    background-size: cover;
    background-position: center 45%;
}

/* 内容版块 */
.primary-container > .right-area > .content-page {
    background-color: #1e1e2e;
}

/* 内容板块的贴纸 */
.primary-container > .right-area > .content-page::before {
    background-color: #504262;
}

/* - 左侧卡片 */
.primary-container > .left-area > .cards > .card-item {
    background-color: #1e1e2e;
}

/* 个人信息 */
.primary-container > .left-area > .cards > .card-item#personal-info > .social-icons i {
    background-color: #a67a8a;
    color: #ead1ea;
}

/* - 浏览设置 */
.primary-container > .left-area > .cards > .card-item > .content > .settings-item {
    padding: 8px 10px;
    background-color: #2e2e3e;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
    color: unset;
}

/* 主题设置 */
.primary-container > .left-area > .cards > .card-item > .content > .settings-item > .themes > .theme-item.enable {
    box-shadow: unset;
    border: 1px solid #a67a8a;
}
/* - 浏览设置 End */

/* - 左侧卡片 End */

/* - 页脚 */
.footer {
    background-color: #20202f;
}

.footer > .line-break {
    color: #423e4a;
}

.footer .icp-link {
    color: #d3bfd3;
}
/* - 页脚 End */
