/* - 滚动条 */
body::-webkit-scrollbar {
    width: 4px;
}

body::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0);
}

body::-webkit-scrollbar-thumb {
    background: #e0b15e;
    border-radius: 4px;
}

body::-webkit-scrollbar-thumb:hover {
    background: #e0b15e;
    border-radius: 4px;
}

body::-webkit-scrollbar-thumb:active {
    background: #e0b15e;
    border-radius: 4px;
}
/* - 滚动条 End */

/* 文本选中 */
::selection {
    text-decoration: unset;
    text-decoration-color: unset;
    text-shadow: unset;
    background-color: #f5d09f;
}

/* - 分割线 */
hr {
    border: 2px dashed #f0bb5f;
}

hr:before {
    color: #f3896a;
}
/* - 分割线 End */

/* - 标题 */
h1,
h2,
h3,
h4,
h5,
h6 {
    color: #f3896a;
}
