/* 全局样式 */
body {
    background-color: #fef4dd;
    color: #7a5a43;
}

/* 页首 */
.page-head {
    background-color: #fff5e0;
    background-image: url(../assets/images/page-head/wallhaven-zyjp5g.png);
    background-size: cover;
    background-position: center 30%;
}

/* 内容版块 */
.primary-container > .right-area > .content-page {
    background-color: #fff9ea;
}

/* 左侧卡片 */
.primary-container > .left-area > .cards > .card-item {
    background-color: #fff9ea;
}

/* 个人信息 */
.primary-container > .left-area > .cards > .card-item#personal-info > .social-icons i {
    background-color: #f59768;
    color: #ffdb9a;
}

/* - 浏览设置 */
.primary-container > .left-area > .cards > .card-item > .content > .settings-item {
    padding: 8px 10px;
    background-color: #f5eedd;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
    color: unset;
}

/* 主题设置 */
.primary-container > .left-area > .cards > .card-item > .content > .settings-item > .themes > .theme-item.enable {
    box-shadow: unset;
    border: 1px solid #c1a177;
}
/* - 浏览设置 End */

/* - 左侧卡片 End */

/* - 页脚 */
.footer {
    background-color: #ebdcb8;
}

.footer > .line-break {
    color: #aaaaaa;
}

.footer .icp-link {
    color: #7a5a43;
}
/* - 页脚 End */
