/* 全局样式 */
body {
    background-color: #fef4dd;
    color: #4c4948;
}

/* - 页首 */
.page-head {
    background-color: #fff5e0;
    background-image: url(../assets/images/page-head/wallhaven-zyjp5g.png);
    background-size: cover;
    background-position: center 30%;
}

/* 内容版块 */
.primary-container > .right-area > .content-page {
    background-color: #fff9ea;
}

/* - 左侧卡片 */
.primary-container > .left-area > .cards > .card-item {
    background-color: #fff9ea;
}

/* - 个人信息 */
.primary-container > .left-area > .cards > .card-item#personal-info > .social-icons i {
    background-color: #f3896a;
    color: #ffd998;
}

/* - 浏览设置 */
.primary-container > .left-area > .cards > .card-item > .content > .settings-item {
    background-color: #ffdbb0;
    color: #4c4948;
}

/* - 主题设置 */
.primary-container > .left-area > .cards > .card-item > .content > .settings-item > .themes > .theme-item.enable {
    /* border: 2px solid #e87a90; */
    box-shadow: 0px 0px 2px 2px #f08d6f;
}
/* - 浏览设置 End */

/* - 左侧卡片 End */

/* - 页脚 */
.footer {
    background-color: #ebdcb8;
}

.footer > .line-break {
    color: #aaaaaa;
}

.footer .icp-link {
    color: #4c4948;
}
/* - 页脚 End */
